@model MVC.Models.ReviewsPerAnnouncement

@{
    ViewBag.Title = "List";
}

<div>

</div>
@*@Html.Partial("~/Views/Announcements/Details.cshtml", new MVC.Models.Announcement())*@
@Html.Action("Details", "Announcements", new { id = Model.CurrentAnnouncementId })
<h2>Reviews</h2>

<p>
    @Html.ActionLink("Add review", "Create", new { idAnn = Model.CurrentAnnouncementId }, null)
</p>
<table class="table">
    <tr>
        <th>
            Rating
        </th>
        <th>
            Comment
        </th>
        <th>
            Username
        </th>
        <th></th>
    </tr>

@foreach (var item in Model.Reviews) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Rating)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Comment)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Username)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { idAnn=Model.CurrentAnnouncementId , id=item.ReviewId }) |
            @Html.ActionLink("Details", "Details", new { idAnn = Model.CurrentAnnouncementId, id = item.ReviewId }) |
            @Html.ActionLink("Delete", "Delete", new { idAnn = Model.CurrentAnnouncementId, id = item.ReviewId })
        </td>
    </tr>
}

</table>
