@model IEnumerable<MVC.Models.Announcement>

@{
    ViewBag.Title = "List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h2>List</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<div class="dropdown">
    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
        Categories
        <span class="caret"></span>
    </button>
    <ul class="dropdown-menu">
@{List<string> categList = new List<string>(); }
@foreach (var item in Model)
{
    categList.Add(item.Category.Name);
}
@{var listOfCategories = categList.Distinct(); }
@foreach (var item in listOfCategories)
{
    
        <li><a href="#" onclick="FilterByCategory(@item)">@item</a></li>
}

    </ul>
</div>

@*@section JavaScript{
<script type="text/javascript">
    function FilterByCategory(category) {
        $("#ShowAnnouncements").empty();
        var AnnouncementsTable = $("#ShowAnnouncements");
        var htmlString = "";
        htmlString += '<table class="table">' +
        '<tr>' +
            '<th>' +
                '@Html.DisplayNameFor(model => model.Category)' +
            '</th>' +
            '<th>' +
                '@Html.DisplayNameFor(model => model.Title)' +
            '</th>' +
            '<th>' +
                '@Html.DisplayNameFor(model => model.Description)' +
            '</th>' +
            '<th></th>' +
        '</tr>';*@
        @*@foreach (var item in Model)
        {
            if (item.Category.Name == category) {
                htmlString += '<tr>' +
                '<td>' +
                    '@Html.DisplayFor(modelItem => item.Category.Name)' +
                '</td>' +
                '<td>' +
                    '@Html.DisplayFor(modelItem => item.Title)' +
                '</td>' +
                '<td>' +
                    '@Html.DisplayFor(modelItem => item.Description)' +
                '</td>' +
                '<td>' +
                    '@Html.ActionLink("Edit", "VerifyEmail", new { id = item.AnnouncementId }) |' +
                    '@Html.ActionLink("Details", "Details", new { id = item.AnnouncementId }) |' +
                    '@Html.ActionLink("Delete", "Delete", new { id = item.AnnouncementId }) |' +
                    '@Html.ActionLink("Close", "Close", new { id = item.AnnouncementId }) |' +
                    '@Html.ActionLink("Extend", "Extend", new { id = item.AnnouncementId }) |' +
                    '@Html.ActionLink("Reviews", "List", "Reviews", new { id = item.AnnouncementId }, null)' +
                '</td>' +
            '</tr>';
            }
        }

        htmlString += '</table>';
        AnnouncementsTable.append(htmlString);
    }
</script>
    }*@


<div id="ShowAnnouncements">
    <table class="table">
        <tr>
            @*<th>
                    @Html.DisplayNameFor(model => model.Phonenumber)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Email)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PostDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ExpirationDate)
                </th>*@
            <th>
                @Html.DisplayNameFor(model => model.Category)
            </th>
            @*<th>
                    @Html.DisplayNameFor(model => model.Closed)
                </th>*@
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th></th>
        </tr>


        @foreach (var item in Model)
        {
            <tr>
                @*<td>
                        @Html.DisplayFor(modelItem => item.Phonenumber)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PostDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ExpirationDate)
                    </td>*@
                <td>
                    @Html.DisplayFor(modelItem => item.Category.Name)
                </td>
                @*<td>
                        @Html.DisplayFor(modelItem => item.Closed)
                    </td>*@
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.ActionLink("Details", "Details", new { id = item.AnnouncementId }) |
                    @Html.ActionLink("Reviews", "List", "Reviews", new { id = item.AnnouncementId }, null) 
                    <div class="dropdown" style="float: right">
                        @*<button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">*@
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-pencil"></span></a>
                            
                            @*<span class="caret"></span>
                        </button>*@
                        <ul class="dropdown-menu">
                            <li><a href="#">@Html.ActionLink("Edit", "VerifyEmail", new { id = item.AnnouncementId })</a></li>
                            <li><a href="#">@Html.ActionLink("Delete", "Delete", new { id = item.AnnouncementId })</a>
                            <li><a href="#">@Html.ActionLink("Close", "Close", new { id = item.AnnouncementId })</a>
                            <li><a href="#">@Html.ActionLink("Extend", "Extend", new { id = item.AnnouncementId })</a>
                            </ul></div>
                                

</td>
            </tr>
        }

    </table>
</div>